$bg_wrapper: #9ad4d6;
$bg_signup: #f0f7ee;
$bg_button: #8acb88;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $bg_wrapper;
}

.login-form {
  background: $bg_signup;
  width: 50%;
  //padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  h2 {
    text-align: center;
    font-weight: 100;
  }
  label {
    font-size: 0.8em;
    font-weight: lighter;
    margin: 0 20px;
    display: inline-block;
    width: 60px;
    text-align: left;
  }
  input {
    padding: 8px 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid $bg_wrapper;
    margin: 15px 20px;
    //display: inline-block;
    text-align: left;
    &:hover {
      border: 2px solid $bg_wrapper;
    }

    &::placeholder{
      font-size: 1.2em;
      font-weight: lighter;
      color: #999;
    }
    
  }
  button {
    padding: 8px 40px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: block;
    display: inline-block;
    position: relative;
    left: 40%;
    border: none;
    outline: none;
    background: $bg_button;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 100;

    &:hover {
      background: #50ffb1;
    }
  }
  .errorMessage {
    color: red;
    font-size: 0.75em;
    margin-bottom: 10px;
    //display: relative;
  }
  .error {
    border: 1px solid red;
}
}
